---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Nix Flake Actions

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  nix-build:
    strategy:
      fail-fast: false # let it build all the targets
      matrix:
        include:
          - system: hera
            os: ubuntu-latest
          - system: ragnar
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v26
        with:
          extra_nix_config: |
            auto-optimise-store = true
            system-features = nixos-test benchmark big-parallel kvm
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            experimental-features = nix-command flakes
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: cachix/cachix-action@v14
        if: ${{ !github.event.pull_request.head.repo.fork }}
        with:
          name: szinn
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: |
          nix build \
            --print-build-logs \
            --builders "" \
            --max-jobs 2 \
            --eval-store auto \
            ".#ciSystems.${{ matrix.system }}"

  nix-build-success:
    if: ${{ always() }}
    needs:
      - nix-build
    name: Nix Build Successful
    runs-on: ubuntu-latest
    steps:
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        name: Check matrix status
        run: exit 1
